*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

html {
  font-size: 62.5%; /* (62.5  / 100) * 16px = 10px */
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

menu:not(article, menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}

:focus:not(:focus-visible) {
  outline: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
